<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appliance.mapper.DemandMapper">
	<insert id="insertNewDemand"
		parameterType="com.appliance.pojo.dto.DemandDto">
		INSERT INTO appliance_demand
		(Added_Flag,
		Item_Name,
		Item_Type,
		Status,
		Commit,
		Creator,
		Create_Time,
		Delete_Flag)
		values
		(1,
		#{itemName,jdbcType=VARCHAR},
		#{itemType,jdbcType=VARCHAR},
		0,
		#{commit,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		0
		)
	</insert>
</mapper>