<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appliance.mapper.UserMapper">
	<select id="userLogin"
		parameterType="com.appliance.pojo.dto.UserDto"
		resultType="com.appliance.pojo.vo.UserVo">
		SELECT 
		Staff_Number AS staffNo,
		Password AS password,
		User_Type AS userType
		FROM staff_info WHERE Staff_Number = #{staffNo,jdbcType=VARCHAR}
	</select>
</mapper>